form {
    label {
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
    }
}

.edit-profile__password {
    margin-top: 50px;
    text-align: center;

    a {
        text-decoration: underline;
    }
}
.avatar__img{
    border-radius: 50%;
    position: absolute;
    top:10px;
    right: 37.5%;
    box-shadow: -1px 1px 18px -4px rgba(242, 232, 232, 0.75);
        -webkit-box-shadow: -1px 1px 18px -4px rgba(242, 232, 232, 0.75);
        -moz-box-shadow: -1px 1px 18px -4px rgba(242, 232, 232, 0.75);
}